@import "reset css.css";
@font-face {
    font-family: BYekan;
    src: url("../fonts/BYekan.eot") format("eot"),
    url("../fonts/BYekan.ttf") format("ttf"),
    url("../fonts/BYekan.woff") format("woff");
}
.main{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
body{
    background-color:#dcdddf ;
    font-family: BYekan;
    direction: rtl;
}
.clear{
    clear:both;
}
/*-------------------------header----------------------------*/
header{
    width: 100%;
}
.logo{
    float: right;
    margin:25px;

}
.social{
    float: left;
    margin: 39px 0 39px 29px ;
}
.social ul li{
    float: left;
}
.social ul li a{
    margin-right:8px ;

}
.menu{
    width: 100%;
    background-color: #323a45;
    height:54px;
}
.menu nav ul li{
    float: right;

}
.menu nav ul li a{
    color:#fff;
    border-left:1px solid #474f59 ;
    box-shadow:-1px 0 0 0 #222830 ;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

/*-------------------------slider----------------------------*/
.slider{
    background:#25b695 ;
    position: relative;
    height:320px;
    margin-top: 16px;
}
.left{
background: url("../img/prev.png") left top no-repeat;
    width: 53px;
    height: 53px;
    position: absolute;
    top: 133px;
    left: 0;
    z-index: 99999;
}
.right{
background: url("../img/next.png") right top no-repeat;
    width: 53px;
    height: 53px;
    position: absolute;
    top: 133px;
    right: 0;
    z-index: 99999;
}
.circle{
    position: absolute;
    left: 29px;
    bottom: 20px;
}
.circle ul li{
    background-color:#34ceab ;
    border-radius:100%;
    margin-right:3px ;
    float: left;
    width: 11px;
    height: 11px;
}
.circle ul li a{
    position: absolute;
    width: 11px;
    height: 11px;
}
.circle ul li.circle-color{
    background-color:#f26c4e ;
}
.slid-text{
float: left;
    width: 400px;
    margin: 61px 0 0 100px ;
}
.slid-text h2{
color: #fff;
    font-size: 24px;
}
.slid-text p{
    color: #fff;
    font-size: 14px;
    text-align: justify;
}
.slid-bttn{
    background-color: #f26c4e;
    position: absolute;
    bottom: 105px;
    left: 103px;
    border:1px solid #f26c4e;
    padding:5px 25px ;
    border-radius: 5px;
}
.slid-bttn a{
    text-decoration: none;
    color: #fff;
}
.slid-img {
    position: absolute;
    right: 114px;
    bottom: -8px;

}
.aside{
    float: right;
    width: 301px;
    margin: 16px 17px 0 0;
}
.aside-top{
    height:302px;
    background-color:#25b695 ;
    margin-bottom: 15px;



}
.aside-top h2 {
    font-size: 22px;
    color: #fff;
    border-bottom: 5px solid #b5e1d7;
    margin: 0 auto 1px;
    padding-bottom: 7px;
    width: 170px;
}
.aside-top form{
    padding: 20px 20px;
    box-sizing: border-box;
}
.aside-top form input{
    font-size: 22px;
    font-family: BYekan;
    height: 45px;
    width: 252px;
    border: none;
    color: #b8b8b8;
    margin-bottom: 8px;
	text-align: center;
}
.aside-top form input:last-child{
}

.aside-top form input:last-child{
    margin-bottom:0px;
}

.aside-bttn{
    border: 1px solid #f26c4e;
    background-color: #f26c4e;
    padding:1px 10px 3px 8px;
    margin: -39px 62px -42px 9px;
}
.aside-bttn a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: BYekan;
    text-align: center;
}
.head-down-aside{
    height: 50px;
    box-sizing: border-box;
    color: #fff;
    background-color: #f26c4e;
    padding: 11px 10px;
    font-size: 17px;}
.aside-txt{
    background-color: #fff;
    height: 255px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.aside-txt ul li{
    border-bottom: 1px solid #efefef;
    padding:5px 0 ;
}
.aside-txt ul li a{
    text-decoration: none;
    color: #5a5a5a;

}
/*-------------------------content----------------------------*/
.content{
    float: right;
    width: 682px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-top: 16px;
}
.content-main{
    margin-bottom: 15px;
}
.header-top{
  height:49px;
    background-color:#25b695 ;
    box-sizing: border-box;
}
.header-top h1{
    color: #fff;
    font-size: 18px;
    padding: 7px 15px;
}
.content-top{
    background-color: #fff;
    box-sizing: border-box;
    padding: 23px 30px;
}
.content-top img{
float: right;
    margin-left:40px;
}
.content-top p{
   color: #858585;
    font-size: 15px;
}
.head-top{
    height: 43px;
    background-color:#f0f0f0 ;
    position: relative;

}
.head-top .date{
    color:#858585;
   position: absolute;
    right: 15px;
    top: 8px;

}
.head-top .content-bttn{
    position: absolute;
    left: 15px;
    top: 8px;
}

.head-top .content-bttn a{
    text-decoration: none;
    color:#858585;
}
/*-------------------------footer----------------------------*/
footer{
    width: 100%;
    background-color: #323a45;
    border-top: 7px solid #454b54;
    height: 120px;
    position: relative;
}
.foot-menu{
    position: absolute;
    right: 20px;
    top: 30px;
}
.foot-menu ul li{
    float: right;
    padding: 0 10px;
    border-left: 1px solid #989ca2;
    line-height: 10px;
}
.foot-menu ul li a{
    text-decoration: none;
    color: #fff;

}
.foot-logo{
    position:absolute ;
    left: 23px;
    top:30px ;
}
.copyright{color: #fff;}
.meno{
    display: none;
}

/*for tablet*/
@media screen and (max-width: 768px){
.main,.aside,.content{
    width: 100%;

}
    .menu,.aside,.content {
        width: 98%;
        margin: 10px auto;
    }
    .social{
        display: none;
    }
    .meno {
        display: inline-block;
        position: absolute;
        left: 4%;
        top: 50px;
        border-radius: 3px;
        cursor: pointer;
    }
    .meno:hover{
        opacity:0.6;
    }

    .aside-top form input{
        width: 100%;
        padding: 0;
        padding-right: 12px;
        box-sizing: border-box;
    }
    .menu nav ul {
        background-color:#323a45 ;

    }
    .menu nav ul li {
        float: none;
        text-align: center;
        border-bottom:1px solid #b2b2b2;
    }
    .menu {
        /*display: none;*/
        height: auto;
    }
    .menu nav ul li:hover{
        background-color: rgba(94, 94, 94, 0.76);
    }
    .slid-text{
        display: none;
    }
    .slid-img{
        position: absolute;
        right: 50%;
        margin-right: -150px;
        width: 300px;
    }
    .aside-bttn{
        display: block;
        text-align: center;
        margin: 0px auto;
    }
    .foot-logo{
        display: none;
    }
    .copyright{
        font-size: 13px;
    }
}
/*for mobile*/
@media screen and (max-width: 400px){

}